name: Publish

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Define release type: patch, minor, or major'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major

permissions:
  contents: read

jobs:
  publish:
    name: Publish Package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
            ref: master
            fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version: 24
      - name: Install Packages
        run: npm i --ignore-scripts
      - name: Run Tests
        run: npm test
      - name: Audit Signatures
        run: npm audit signatures
      - name: Publish Package
        run: npx lerna publish ${{ github.event.inputs.release-type }} --force-publish -y --push=false --gitTagVersion=false